In [45]:
myfile=open('../assets/bollywood.csv')
print("Metadata: ",myfile)

Metadata:  <_io.TextIOWrapper name='/Users/alpha/Downloads/bollywood.csv' mode='r' encoding='UTF-8'>

In [63]:
myfile=open('/Users/alpha/Downloads/bollywood.csv')
print("Metadata: ",myfile)
count=0
gener=[]
for line in myfile:
    if count == 0:
        count+=1
        continue
    lines=line.split(',')
    count+=1
gener=[i for n, i in enumerate(gener) if i not in gener[:n]]
print("Number of lines: ",count)

Metadata:  <_io.TextIOWrapper name='/Users/alpha/Downloads/bollywood.csv' mode='r' encoding='UTF-8'>
Number of lines:  150

In [49]:
import pandas as pd
print(pd.__version__)

myfile=pd.read_csv('/Users/alpha/Downloads/bollywood.csv')

1.2.4

In [50]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"], 
  'passings': [3, 7, 2]
}
print('Data type:',type(myfile))

# Converting to pandas
myvar1 = pd.DataFrame(myfile)
print('Data type:',type(myvar1))

Data type: <class 'pandas.core.frame.DataFrame'>
Data type: <class 'pandas.core.frame.DataFrame'>

Data sets in Pandas are usually multi-dimensional tables, called DataFrames

In [28]:
# Series , an 1-D Array

a = [1, 7, 2]
myvar = pd.Series(a,index = ["x", "y", "z"]) # Default index numbers
print(myvar)

print('x:',myvar["x"])

# Using Keys and Values
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

x    1
y    7
z    2
dtype: int64
x: 1
day1    420
day2    380
day3    390
dtype: int64

In [40]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)
print(myvar)

#refer to the row index:
print('Row:\n',myvar.loc[0:])

   calories  duration
0       420        50
1       380        40
2       390        45
Row:
    calories  duration
0       420        50
1       380        40
2       390        45

In [41]:
## Max number of rows supported by your system. We can aslo increase it.
print(pd.options.display.max_rows)

60

In [51]:
print(myvar1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   SlNo                 149 non-null    int64
 1   Release Date         149 non-null    object
 2   MovieName            149 non-null    object
 3   ReleaseTime          149 non-null    object
 4   Genre                149 non-null    object
 5   Budget               149 non-null    int64
 6   BoxOfficeCollection  149 non-null    float64
 7   YoutubeViews         149 non-null    int64
 8   YoutubeLikes         149 non-null    int64
 9   YoutubeDislikes      149 non-null    int64
dtypes: float64(1), int64(5), object(4)
memory usage: 11.8+ KB
None

In [52]:
print(myvar1.head())

   SlNo Release Date           MovieName ReleaseTime      Genre  Budget  \
0     1    18-Apr-14            2 States          LW    Romance      36
1     2     4-Jan-13        Table No. 21           N  Thriller       10
2     3    18-Jul-14  Amit Sahni Ki List           N     Comedy      10
3     4     4-Jan-13    Rajdhani Express           N     Drama        7
4     5     4-Jul-14        Bobby Jasoos           N     Comedy      18

   BoxOfficeCollection  YoutubeViews  YoutubeLikes  YoutubeDislikes
0               104.00       8576361         26622             2527
1                12.00       1087320          1129              137
2                 4.00        572336           586               54
3                 0.35         42626            86               19
4                10.80       3113427          4512             1224

In [59]:
# [colum][row]
print(myvar1["Genre"][1])

Thriller