# Variables 
Many Values to Multiple Variables

In [1]:
x,y,z=1,2,3

print(x,y,z)

1 2 3

In [9]:
# List to Var

mylist=[1,2,3]
x,y,z=mylist

print(x,y,z)

1 2 3

In [10]:
# Tuple to Var

mytuple=(1,2,3)
x,y,z=mytuple

print(x,y,z)

1 2 3

In [11]:
x=y=z=2

print(x,y,z)

2 2 2

### Global Keyword
To create a global variable inside a function, you can use the global keyword.

# Data Structures

In [12]:
# Complex Data type
x = 1j

print(x)
print(type(x))

1j
<class 'complex'>

In [13]:
# Frozenst Data type
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [14]:
# Bytes
x = b"Hello"

print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [15]:
# Byte Array
x = bytearray(5)

print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [16]:
# Memory View
x = memoryview(bytes(5))

print(x)
print(type(x))

<memory at 0x7fdbde16ce80>
<class 'memoryview'>

In [39]:
L = [1, 2, 3]
M = ['X', L, 'Y'] 
print(M)
L[1] = 0
print(M)

['X', [1, 2, 3], 'Y']
['X', [1, 0, 3], 'Y']

In [38]:
# Cyclic DS
L = ['grail'] # Append reference to same object
L.append(L) # Generates cycle in object: [...]
L

['grail', [...]]

# Random

In [18]:
import random

print(random.randrange(1, 10))

5

# Strings

In [7]:
# Python itself uses double slash scheme
txt=(r'C:\new\text.dat')
txt

'C:\new\text.dat'

In [6]:
# User friendly way
txt=(r'C:\new\text.dat')
print(txt)

C:\new\text.dat

Slicing in starings works like [start : end] it will give upto end-1. And in case of reverse it starts from -1 and rest 0. It also has an optional third arg known as steps or stride

| H | E | L | L | O |   | W | O | R | L | D | ! |
|---|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |
| -11 |   |   | -9 |   | -7 |   | -5 |   | -3 |   | -1 |

In [11]:
txt="Hello World!"

# [ Start : End ]
print(txt[0:5])

# [ Start : End ]
print(txt[-6:-1])

# [ Start : End : Steps ]
print(txt[0::2])

# [ Start : End : Steps ]
print(txt[::-1])

# [ Start : End ]
print(txt[:-1])

Hello
World
HloWrd
!dlroW olleH
Hello World

In [8]:
# String concatination
txt1='a'
txt2='b'

# Concatinate
print(txt1+txt2)

# Multiply
print(txt1*4)

ab
aaaa

In [21]:
# Block string
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [20]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [22]:
a=1.234E-10
r=repr(a)
s=str(a)
print("repr: ",r,"str: ",s)
# Converts the obj to its str rep. From whrere the obj can be recreated
repr(txt)

"'Hello World!'"

In [26]:
# Bianry value
ord('s')

115

In [27]:
# Character
chr(115)

's'

In [28]:
print('That is %d %s bird!' % (1, 'dead'))

That is 1 dead bird!

In [30]:
print('I am %(name)s of age %(age)s '%{'name': 'Bob', 'age': 40})

I am Bob of age 40

# foramt()

In [33]:
# by postiton
template = '{0}, {1} and {2}'
template=template.format('spam', 'ham', 'eggs')
print(template)

# by keyword
template = '{motto}, {pork} and {food}'
template=template.format(motto='spam', pork='ham', food='eggs')
print(template)

# by both
template = '{motto}, {0} and {food}'
template=template.format('ham', motto='spam', food='eggs') 
print(template)

spam, ham and eggs
spam, ham and eggs
spam, ham and eggs

In [34]:
# {0:10} means the first positional argument in a field 10 characters wide
'{0:10} = {1:10}'.format('spam', 123.4567)

'spam       =   123.4567'

In [36]:
# {1:<10} means the second positional argument left-justified in a 10-character-wide field
'{0:<10} = {1:>10}'.format('spam', 123.4567)

'spam       =   123.4567'

In [35]:
'{0.platform:>10} = {1[item]:<10}'.format(sys, dict(item='laptop'))

'    darwin = laptop    '