# Variables 
Many Values to Multiple Variables

In [6]:
x,y,z=1,2,3

print(x,y,z)

1 2 3

In [9]:
# List to Var

mylist=[1,2,3]
x,y,z=mylist

print(x,y,z)

1 2 3

In [10]:
# Tuple to Var

mytuple=(1,2,3)
x,y,z=mytuple

print(x,y,z)

1 2 3

In [11]:
x=y=z=2

print(x,y,z)

2 2 2

### Global Keyword
To create a global variable inside a function, you can use the global keyword.

# Data Structures

In [12]:
# Complex Data type
x = 1j

print(x)
print(type(x))

1j
<class 'complex'>

In [13]:
# Frozenst Data type
x = frozenset({"apple", "banana", "cherry"})

print(x)
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [14]:
# Bytes
x = b"Hello"

print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [15]:
# Byte Array
x = bytearray(5)

print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [16]:
# Memory View
x = memoryview(bytes(5))

print(x)
print(type(x))

<memory at 0x7fdbde16ce80>
<class 'memoryview'>

In [39]:
L = [1, 2, 3]
M = ['X', L, 'Y'] 
print(M)
L[1] = 0
print(M)

['X', [1, 2, 3], 'Y']
['X', [1, 0, 3], 'Y']

In [38]:
# Cyclic DS
L = ['grail'] # Append reference to same object
L.append(L) # Generates cycle in object: [...]
L

['grail', [...]]

# Strings

In [19]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [7]:
# Python itself uses double slash scheme
txt=(r'C:\new\text.dat')
txt

'C:\new\text.dat'

In [6]:
# User friendly way
txt=(r'C:\new\text.dat')
print(txt)

C:\new\text.dat

Slicing in starings works like [start : end] it will give upto end-1. And in case of reverse it starts from -1 and rest 0. It also has an optional third arg known as steps or stride

| H | E | L | L | O |   | W | O | R | L | D | ! |
|---|---|---|---|---|---|---|---|---|---|---|---|
| 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10 | 11 |
| -11 |   |   | -9 |   | -7 |   | -5 |   | -3 |   | -1 |

In [7]:
txt="Hello World!"

# [ Start : End ]
print(txt[0:5])

# [ Start : End ]
print(txt[-6:-1])

# [ Start : End : Steps ]
print(txt[0::2])

# [ Start : End : Steps ]
print(txt[::-1])

# [ Start : End ]  
print(txt[:-1])

Hello
World
HloWrd
!dlroW olleH
Hello World

In [8]:
# String concatination
txt1='a'
txt2='b'

# Concatinate
print(txt1+txt2)

# Multiply
print(txt1*4)

ab
aaaa

In [21]:
# Block string
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [20]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [22]:
a=1.234E-10
r=repr(a)
s=str(a)
print("repr: ",r,"str: ",s)
# Converts the obj to its str rep. From whrere the obj can be recreated
repr(txt)

"'Hello World!'"

In [26]:
# Bianry value
ord('s')

115

In [27]:
# Character
chr(115)

's'

In [28]:
print('That is %d %s bird!' % (1, 'dead'))

That is 1 dead bird!

In [30]:
print('I am %(name)s of age %(age)s '%{'name': 'Bob', 'age': 40})

I am Bob of age 40

In [2]:
mydict={'name': 'Bob', 'age': 40}
print('I am %(name)s of age %(age)s '%(mydict))

I am Bob of age 40

In [10]:
txt3=txt
txt=txt.replace('l','r')
print(txt,txt3)

Herro Worrd! Herro Worrd!

In [40]:
txt1='spam'
txt2='spam'
print(txt1,txt2)
print(txt1 is txt2) #shares the same memory

spam spam
True

# format()

In [33]:
# by postiton
template = '{0}, {1} and {2}'
template=template.format('spam', 'ham', 'eggs')
print(template)

# by keyword
template = '{motto}, {pork} and {food}'
template=template.format(motto='spam', pork='ham', food='eggs')
print(template)

# by both
template = '{motto}, {0} and {food}'
template=template.format('ham', motto='spam', food='eggs') 
print(template)

spam, ham and eggs
spam, ham and eggs
spam, ham and eggs

In [34]:
# {0:10} means the first positional argument in a field 10 characters wide
'{0:10} = {1:10}'.format('spam', 123.4567)

'spam       =   123.4567'

In [36]:
# {1:<10} means the second positional argument left-justified in a 10-character-wide field
'{0:<10} = {1:>10}'.format('spam', 123.4567)

'spam       =   123.4567'

In [35]:
'{0.platform:>10} = {1[item]:<10}'.format(sys, dict(item='laptop'))

'    darwin = laptop    '

## List

In [18]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
mylist=[1,2,3,4]
list1=mylist # referencing the previous object
mylist[0]=5
mylist.sort()
print(list1)

[2, 3, 4, 5]

In [28]:
mylist=[1,2,3,4]
list2=mylist.copy() # copying the object in memory 
mylist.append(1)
print(list2)
print(mylist)

[1, 2, 3, 4]
[1, 2, 3, 4, 1]

In [41]:
list1=[1,2,3]
list2=[1,2,3]
print(list1,list2)
print(list1 is list2)

[1, 2, 3] [1, 2, 3]
False

In [103]:
list3=[1,2.2,'3']
list3

[1, 2.2, '3']

## Dictionary

In [42]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [48]:
mydict={1:'A',2:'B',3:'C',4:'D',5:'E'}
items=mydict.items()
print(type(items),items)

<class 'dict_items'> dict_items([(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D'), (5, 'E')])

In [75]:
dict1={1:'A',2:'B',3:'C',4:'D',5:'E'}
dict2=dict1 # Referenced 
print(dict1 is dict2)
dict1.pop(1)
print(dict2)

True
{2: 'B', 3: 'C', 4: 'D', 5: 'E'}

## Tuple

In [51]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [102]:
tup1=(1,2,3,4)
tup2=tup1
print(tup1)
print(tup1 is tup2)

(1, 2, 3, 4, 4, 4)
True

In [92]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

fruits+=("A","B","C","D")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

(green, *yellow, blue, red) = fruits
print(green)
print(yellow)
print(blue)
print(red)

apple
banana
cherry
apple
banana
['cherry', 'A', 'B', 'C', 'D']
apple
['banana', 'cherry', 'A', 'B']
C
D

## Set

In [86]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [100]:
set1 = {"apple", "banana", "cherry", "cherry"}
set2=set1
set1.add("orange")
print(set1,set2)

{'banana', 'orange', 'apple', 'cherry'} {'banana', 'orange', 'apple', 'cherry'}

## lambda

In [104]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

## OOP

In [123]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

  def setname(self,name):
    self.firstname=name

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()
x.setname("Rohan")
x.printname()

John Doe
Rohan Doe

In [110]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [115]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year
    print(year)

x = Student("Mike", "Olsen", 2019)

2019

## Iterator

In [124]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [125]:
## Creating an iterator 

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [126]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20